#empty-heart {
  display: none;
}

#nyan-cat-image {
  display: none;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  display: none;
}

#start-screen{
  text-align: center;
  margin: auto;
  background-image: url("images/background.jpg");
  color: white;
  width: 670px;
  height: 500px;
}

#game-over-screen{
  text-align: center;
  margin: auto;
  background-image: url("images/background.jpg");
  color: white;
  width: 670px;
  height: 500px;
  /*display: none;*/
}

.highlight {
  background-color: #003466;
}

p {
  font-size: 17px;
  padding: 3px;
}

#start-button{
  /*padding: 3px;*/
}
