#nyan-cat-image {
  display: none;
}
 #roe-roll{
   display: none;
 }

 #fish-roll{
   display: none;
 }

 #egg-roll{
   display: none;
 }

#kawaii-poop {
  display: none;
}

#kawaii-toaster {
  display: none;
}

#empty-heart {
  display: none;
}

#full-heart {
  display: none;
}
